{:deps {org.clojure/clojure {:mvn/version "1.12.4"}}
 :aliases {:dev {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.5"}
                              org.clojure/tools.namespace {:mvn/version "1.5.1"}}
                 :extra-paths ["dev"]
                 :exec-fn rebel-readline.tool/repl
                 :main-opts ["-m" "rebel-readline.main"]
                 :jvm-opts ["-Dclojure.server.repl={:port 5555 :accept clojure.core.server/repl}" "--enable-native-access=ALL-UNNAMED"]}}}
